
.domain-list-item {
  height: 30px;

  [type="checkbox"] {
    display: none;

  }

  [type="checkbox"]:checked + label{
    background-color: #dee;
  }

  label {
    display: flex;
    height: 30px;
    margin: 1px 0;
  }

  .flag {
    min-width: 70px;
    height: 30px;
  }
  .flag img {
    height: 100%;
  }
  
  .dom {
    min-width: 30px;
  }


} 