.Options {

  & .list {
    border: 1px solid green;
    max-height: 500px;
    width: 460px;
    overflow: auto;
  }

  & .jump-stops {
    font-size: 120%;
    font-weight: bold;
    color:gray;
    width: 460px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around ;
    cursor: pointer;
  }

}