.Options {
  height: 545px;
  margin: 4px;
}
.form1 {
  display: flex;
  height: 540px;
}

.domain-list {
  border: 1px solid black;
  position: relative;
  height: 527px;
  width: 460px;
  overflow: auto;

  & .jump-stops {
    position: sticky;
    top: 0px;
    font-size: 120%;
    background-color: white;

    font-weight: bold;
    color:gray;
    height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around ;
    cursor: pointer;
  }

  & .cctlt-list {
    padding-top: 10px;
  }

}

.check-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;


  & fieldset {
    border: 1px solid gray;
    padding: 0 2px;
    margin-left: 5px;
  }

  & legend {
    font-size: small;
  }

}