.Output {
   /* height: 400px; */
}
.Output img {
   max-height: 80px;
}

.Output table {
   border: 2px solid black;
   border-collapse: collapse;
   margin: 5px;
}

.Output table th {
   font-weight: bold;
   border: 2px solid black;
   padding: 2px;
}

.Output table td {
   /* font-weight: bold; */
   border: 1px solid black;
   padding: 2px;
   text-align: center;
}