.Output {
   border: 1px solid black;
   overflow: scroll;
}
.Output img {
   max-height: 80px;
}

.Output table {
   border: 2px solid black;
   border-collapse: collapse;
   margin: 5px;
   overflow: auto;
}

.Output table th {
   font-weight: bold;
   border: 2px solid black;
   padding: 2px;

}

.Output table td {
   border: 1px solid black;
   padding: 2px;
   text-align: center;
}

.sign-roads a {
   display: inline-block;
}
